language: python
python:
  - "2.7"
# command to install dependencies
services:
  - docker

before_script: 
  - pip install docker
  - docker build -t app1 .
  - docker run -d -p 80:80 app1
  - docker ps
script:
  - echo 'curl http://127.0.0.1'

